<form action="/" method="post">
  <label>TSI data input:
    <textarea name="raw" rows="10" cols="80" required><%= @raw %></textarea>
  </label>
  <input type="submit" value="Submit">
</form>

<form>
  <textarea rows="10" cols="80"><%= @csv_data %></textarea>
</form>